<div id='linkclick-container' ng-controller='linkClickController'>

<div class = "row">

<!--Left side overview
Displays identical summary information for page regardless of which
visualization is selected-->
  <div class="col-md-4">
  <h2>{{pagename}}</h2>

  <h2>Pageviews for your site:</h2>

  <div class="pageviews">{{views}}</div>

  <h2>Clicks on your site:</h2>
    <div class="linkclicks">{{clicks}}</div>
  </div>

<!--Center featured chart -->
  <div class="col-md-4">
<h1>visualization goes here</h1>
<a href = "http://www.fakeaddress.com/test" ng-click=sendLink($event.target.href)></a>
  </div>


<!--Right side featured stats -->
  <div class="col-md-4" ng-model="linkClickData">
    <h1>featured stats go here</h1>
    <h2>{{product.url}}</h2>
    <h2>{{product.count}}</h2>
  </div>

</div>

</div>



</div>
