<div id='linkclick-container' ng-controller='linkClickController'>

<div class = "row">

<!--Left side overview
Displays identical summary information for page regardless of which
visualization is selected-->
  <div class="col-md-4">
  <h2>{{pagename}}</h2>

  <h2>Pageviews for your site:</h2>

  <div class="pageviews">{{views}}</div>

  <h2>Clicks on your site:</h2>
    <div class="linkclicks">{{clicks}}</div>
  </div>

<!--Center featured chart -->
  <div class="col-md-4">
<h1>visualization goes here</h1>
<a href = "http://www.fakeaddress.com/test" ng-click=sendLink($event.target.href)></a>
  </div>


<!--Right side featured stats -->
  <div class="col-md-4" ng-model="linkClickData" ng-repeat="link in linkcounts">
    <h4>{{link.url}}</h4>
    <h4>{{link.count}}</h4>
    <p>Dates on which this link was clicked:</p>
    <ul>
    <li ng-repeat="date in link.dates track by $index">{{date}}</li>
    </ul>
  </div>

</div>

</div>



</div>
